
<div class="container color-dark"> 
	<div class="col">
		<p>Mine List of items</p>		
	</div>
	<div class="col">
		<p>Your List of items ({{itemCount}})</p>		
	</div>
</div>

<div class="container color-light" [@goals]="goals.lenght"> 
	<div class="col">
		<p class="sm">Use the form below to write</p>	
		<form>
			<input type="text" class="txt" name="item" placeholoder="write something.." [(ngModel)]="goalText"> 
			
			<input type="submit" class="btn" [value]="btnText"  (click)="addItem()" >
			<!-- <input type="submit" class="btn" [value]=btnText2> -->
		</form>	
	</div>
	<div class = "col"> 
		<p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)" > 
			{{ goal }}
		</p>
	</div>
</div>
